@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("dark.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: -apple-system, "Montserrat", "Segoe UI", monospace;
    font-size: 16px;
    pointer-events: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(33, 33, 33, 0.2);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(33, 33, 33, 0.5);
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.hidden, .hidden * {
    opacity: 0;
    pointer-events: none !important;
    cursor: default !important;
}

.container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-side {
    min-width: 320px;
    max-width: 320px;
    background-color: #a7a7a765;
    padding: 2rem 3rem;
    transition: background-color 0.3s ease-out;
}

.left-side .score-block span {
    font-size: 1rem;
    font-weight: 500;
    color: #1a1a1a;
    transition: color 0.3s ease-out;
}

.left-side .score-block span.small {
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0.86;
}

.left-side .score-block span.score {
    font-size: 1.3rem;
    font-weight: 700;
}

.left-side .score-block span.slash-sep {
    font-weight: 500;
    opacity: 0.8;
}

.left-side .separator {
    width: 100%;
    height: 1px;
    background-color: #a6a6a6;
    margin: 1rem 0;
    transition: background-color 0.3s ease-out;
}

.left-side .cps-log span.title {
    font-size: 1.3rem;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 1rem;
    color: #111111;
    transition: color 0.3s ease-out;
}

.left-side .cps-log ul {
    list-style-type: none;
    overflow: auto;
    max-height: calc(100vh - 240px);
    pointer-events: all;
}

.left-side .cps-log ul li {
    display: inline-block;
    width: 100%;
    font-size: 0.87rem;
    font-weight: 500;
    padding-left: 1rem;
    position: relative;
    color: #1f1f1f;
    transition: color 0.3s ease-out;
}

.left-side .cps-log ul li::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: rgba(12, 12, 12, 0.4);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 100%;
    transition: background-color 0.3s ease-out;
}

.left-side .cps-log ul li span {
    font-size: 1.2rem;
}

.main-section {
    width: 100%;
    height: 100vh;
    background-color: #b7b7b743;
    position: relative;
    transition: background-color 0.3s ease-out;
}

.main-section .timer {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0.7;
    color: #0e0e0e;
    transition: 0.3s ease-out;
    transition-property: color, opacity;
}

.main-section .theme-toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.main-section .theme-toggle .theme-toggle-btn {
    width: 2.3rem;
    height: 2.3rem;
    max-width: 2.3rem;
    max-height: 2.3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #151515;
    opacity: 0.87;
    cursor: pointer;
    pointer-events: all;
    transition: 0.2s ease-out;
    transition-property: background-color, opacity;
}

.main-section .theme-toggle .theme-toggle-btn:hover {
    opacity: 1;
}

.main-section .theme-toggle .theme-toggle-btn svg path {
    fill: #ffffff;
    transition: fill 0.3s ease-out;
}

.main-section .score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #343434;
    transition: color 0.3s ease-out;
}

.main-section .score span.score-text {
    font-size: 4rem;
    font-weight: 600;
}

.main-section .score span.text {
    font-size: 1.3rem;
    font-weight: 500;
    opacity: 0.8;
}

.main-section .restart {
    position: absolute;
    bottom: 12rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-out;
}

.main-section .restart .restart-btn {
    width: 2.3rem;
    height: 2.3rem;
    max-width: 2.3rem;
    max-height: 2.3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #151515;
    pointer-events: all;
    cursor: pointer;
    transition: 0.3s ease-out;
    transition-property: opacity, background-color, box-shadow, transform;
}

.main-section .restart .restart-btn:hover {
    box-shadow: 0 0.5rem 2rem rgba(14, 14, 14, 0.71);
    transform: translateY(-0.2rem);
}

.main-section .restart .restart-btn svg {
    width: 100%;
    height: auto;
    transition: fill 0.3s ease-out;
    fill: #ffffff;
}

.main-section .copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.main-section .copyright .project {
    position: relative;
    display: inline-block;
    font-size: 16rem;
    font-weight: 300;
    opacity: 0.1;
    line-height: 1;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    transition: color 0.3s ease-out;
    min-width: max-content;
}

.main-section .copyright .author {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.7;
    color: #000;
    transition: color 0.3s ease-out;
}

.main-section .copyright .author a {
    pointer-events: all;
    cursor: pointer;
    color: #000;
    transition: color 0.3s ease-out;
}
